<div  fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
    <h3 fxLayout="row" fxFlex="40" fxLayoutAlign="space-around center">Add Data</h3>
<form [formGroup]="form" novalidate fxFlex="60">

    <mat-card class="mat-elevation-z8">
  
      <mat-table
        #table
        class="mat-elevation-z0"
        [dataSource]="dataSource" [trackBy]="trackRows">
  
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index"> 
            <ng-container [formGroup]="row">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name"
                  id="name_id_{{i}}"
                  formControlName="name" required />
               
<mat-error *ngIf="ControlArray.controls[i].get('name')?.invalid && 
ControlArray.controls[i].get('name')?.errors?.required">name is required </mat-error>


              </mat-form-field>

            </ng-container>
          </mat-cell>
        </ng-container>
  
        <!-- E-Mail Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef>E-Mail</mat-header-cell>
          <mat-cell *matCellDef="let row; let i = index"> 
            <ng-container [formGroup]="row">
              <mat-form-field>
                <mat-label>E-Mail</mat-label>
                <input matInput placeholder="E-Mail"
                  id="email_id_{{i}}"
                  name="email_id_{{i}}"
                  formControlName="email" required />
                  <mat-error *ngIf="ControlArray.controls[i].get('email')?.invalid && 
ControlArray.controls[i].get('email')?.errors?.required">Email id is required </mat-error>

<mat-error *ngIf="ControlArray.controls[i].get('email')?.invalid && 
ControlArray.controls[i].get('email')?.errors?.email">Enter valid Email-id  </mat-error>

              </mat-form-field>
            </ng-container>
          </mat-cell>
        </ng-container>

         <!-- Password Column -->
         <ng-container matColumnDef="password">
            <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index"> 
              <ng-container [formGroup]="row">
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="Password"
                    id="password_id_{{i}}"
                    name="password_id_{{i}}"
                    type="password"
                    formControlName="password" required />
                    
                    <mat-error *ngIf="ControlArray.controls[i].get('password')?.invalid && 
    ControlArray.controls[i].get('password')?.errors?.required">Password is required </mat-error>
                </mat-form-field>

              </ng-container>
            </mat-cell>
          </ng-container>

           <!-- Unit Column -->
         <ng-container matColumnDef="confirmpassword">
            <mat-header-cell *matHeaderCellDef>Confirm Password</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index"> 
              <ng-container [formGroup]="row">
                <mat-form-field>
                  <mat-label>Confirm Password</mat-label>
                  <input matInput placeholder="Confirm Password"
                    id="confirmpassword_id_{{i}}"
                    name="confirmpassword_id_{{i}}"
                    type="password"
                    formControlName="confirmpassword" required />
                    <mat-error *ngIf="ControlArray.controls[i].get('confirmpassword')?.invalid && 
                    ControlArray.controls[i].get('confirmpassword')?.errors?.required">Confirm Password is required </mat-error>

                </mat-form-field>
              </ng-container>
            </mat-cell>
          </ng-container>

           <!-- Mobile Column -->
         <ng-container matColumnDef="mobileno">
            <mat-header-cell *matHeaderCellDef>Mobile No</mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index"> 
              <ng-container [formGroup]="row">
                <mat-form-field>
                  <mat-label>Mobile No</mat-label>
                  <input matInput placeholder="Mobile No"
                    id="mobileno_id_{{i}}"
                    type="number"
                    formControlName="mobileno" />
                  
                    <mat-error *ngIf="ControlArray.controls[i].get('mobileno')?.invalid && 
                    ControlArray.controls[i].get('mobileno')?.errors?.required">Mobile number is required </mat-error>
                    <mat-error *ngIf="ControlArray.controls[i].get('mobileno')?.invalid && 
                    ControlArray.controls[i].get('mobileno')?.errors?.minLength " >Mobile number Lenght is exceed </mat-error>
                     
                </mat-form-field>
              </ng-container>
            </mat-cell>
          </ng-container>

          <!-- Action Column -->
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="primary" (click)="createRow()">
                <mat-icon aria-label="Add">add</mat-icon>
              </button>
              <button mat-icon-button style="color:red" (click)="deleteRow(i)">
                <mat-icon aria-label="delete">delete</mat-icon>
              </button>
            </mat-cell>
        </ng-container>
  
        <!-- Header Declarations -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
         
        <!-- Row Declarations -->
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
  
      <mat-card-actions>
        <button mat-raised-button color="primary"
        [disabled]="!form.valid"(click)="submitData()">
          Submit
        </button>
      </mat-card-actions>
  
    </mat-card>
  </form>
</div>