<form [formGroup]="userForm" fxLayout="row">
    <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <thead class="text-nowrap">
        <th>Name <span class="ui-column-resizer" dragableColumn> </span></th>
        <th>Email<span class="ui-column-resizer" dragableColumn> </span></th>
        <th>Date Of Birth<span class="ui-column-resizer" dragableColumn> </span></th>
        <th>Blood Group<span class="ui-column-resizer" dragableColumn> </span></th>
        <th>Mobile Number</th>
        <th></th>
      </thead>
      <tbody>
        <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
          <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
            <td>
              <mat-form-field>
                <input matInput type="text" formControlName="name">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput type="tetx" formControlName="email">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput matInput [matDatepicker]="picker" formControlName="dob">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-select formControlName="bloodGroup">
                  <mat-option value="O+">O</mat-option>
                  <mat-option value="A">A</mat-option>
                  <mat-option value="B">B</mat-option>
                  <mat-option value="AB">AB</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput type="text" formControlName="mobNumber">
              </mat-form-field>
            </td>
            <td>
              <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
              <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
            </td>
          </tr>
          <tr *ngIf="!group.get('isEditable').value" >
            <td>
              {{group.get('name').value}}
            </td>
            <td>
              {{group.get('email').value}}
            </td>
            <td>
                {{group.get('email').value}}
            </td>
            <td>
                {{group.get('bloodGroup').value}}
            </td>
            <td>
              {{group.get('mobNumber').value}}
            </td>
          </tr>
        </ng-container>
      </tbody>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="action-container">
      <button mat-raised-button type="submit" (click)="addRow()">Add row</button>
      <button mat-raised-button [disabled]="userForm.invalid" type="submit" (click)="submitForm()">Submit</button>
    </div> -->

    <table mat-table class="mat-elevation-z8" fxFlex="78%">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
      
        <!-- <ng-container formArrayName="tableRows"> -->
    
        <ng-container matColumnDef="name" >
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell> 
            <mat-form-field>
                <input matInput type="text" formControlName="name" >
              </mat-form-field>
            </td>
        </ng-container>
      
    
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell> 
            <mat-form-field>
                <input matInput type="email" formControlName="email">
              </mat-form-field>
          </td>
        </ng-container>
      
    
        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> Password </th>
          <td mat-cell> 
            <mat-form-field>
                <input matInput type="password" formControlName="password">
              </mat-form-field>    
             </td>
        </ng-container>
    
         <ng-container matColumnDef="confirmpassword">
            <th mat-header-cell *matHeaderCellDef> Confirm Password </th>
            <td mat-cell> 
                <mat-form-field>
                    <input matInput type="password" formControlName="confirmpass">
                  </mat-form-field>    
            </td>
          </ng-container>
    
    
          <ng-container matColumnDef="Mobile">
            <th mat-header-cell *matHeaderCellDef> Mobile </th>
            <td mat-cell> 
                <mat-form-field>
                    <input matInput type="number" formControlName="mobileno">
                  </mat-form-field>    
            </td>
          </ng-container>
          
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="red">
                <mat-icon aria-label="Add">add</mat-icon>
              </button>
              <button mat-icon-button color="red">
                <mat-icon aria-label="delete">delete</mat-icon>
              </button>
            </mat-cell>
        </ng-container>

        
        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <!-- <tr mat-row *matRowDef="let group; columns:getFormControls.controls; let i=index" formArrayName="tableRows" [formGroupName]="i"></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"  [formGroupName]="row"></tr>
    <!-- </ng-container> -->
      </table>
  </form>